FreePrompts_n8n_Automation.json
{
  "name": "FreePrompts Auto Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "c1f1f1e0-1234-4a2b-8a8b-123456789abc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-latest:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "BURAYA_GEMINI_API_KEY_YAZIN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Bana yeni bir prompt üret. Çıktıyı kesinlikle aşağıdaki JSON formatında ver:\\n{\\n \\\"title\\\": \\\"...\\\",\\n \\\"content\\\": \\\"...\\\",\\n \\\"json_prompt\\\": \\\"...\\\",\\n \\\"tags\\\": [\\\"...\\\"],\\n \\\"category\\\": \\\"...\\\",\\n \\\"theme\\\": \\\"...\\\",\\n \\\"group\\\": \\\"...\\\",\\n \\\"share_text_twitter\\\": \\\"...\\\",\\n \\\"share_text_facebook\\\": \\\"...\\\",\\n \\\"share_text_pinterest\\\": \\\"...\\\",\\n \\\"share_text_whatsapp\\\": \\\"...\\\"\\n}\\n\\nÖzel Talimatlar (Gem): [BURAYA GEM TALİMATLARINIZI YAPIŞTIRIN]\"\n    }]\n  }]\n}",
        "options": {}
      },
      "id": "e331c2bb-1234-4b5c-9c9d-123456789abc",
      "name": "Generate Prompt (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [200, 200],
      "notesInFlow": true,
      "notes": "DIKKAT: x-goog-api-key kısmına kendi Gemini API anahtarınızı girin."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "BURAYA_EXCEL_ID_YAZIN",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Prompt ID": "={{ $execution.id }}",
            "Status": "open",
            "Title": "={{ JSON.parse($json.candidates[0].content.parts[0].text.replace(/```json/g, '').replace(/```/g, '')).title }}"
          }
        },
        "options": {}
      },
      "id": "a4b2c3d4-1234-4e5f-8f8g-123456789abc",
      "name": "Save to Sheets (Open)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [400, 200],
      "notesInFlow": true,
      "notes": "DIKKAT: Google Hesabınızı bağlayın ve Excel (Sheet) ID'sini seçin."
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $execution.id }}",
        "parents": [
          "BURAYA_DRIVE_KLASOR_ID_YAZIN"
        ],
        "options": {}
      },
      "id": "b5c3d4e5-1234-4f6g-9g9h-123456789abc",
      "name": "Create Drive Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [600, 200],
      "notesInFlow": true,
      "notes": "DIKKAT: Google Drive hesabınızı bağlayın ve ana klasör ID'nizi yapıştırın."
    },
    {
      "parameters": {
        "fileContent": "={{ $node[\"Generate Prompt (LLM)\"].json.candidates[0].content.parts[0].text }}",
        "name": "prompt_data.json",
        "parents": [
          "={{ $json.id }}"
        ],
        "options": {}
      },
      "id": "c6d4e5f6-1234-4g7h-0h0i-123456789abc",
      "name": "Save JSON to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [800, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-latest:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "BURAYA_GEMINI_API_KEY_YAZIN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"={{ JSON.parse($node['Generate Prompt (LLM)'].json.candidates[0].content.parts[0].text.replace(/```json/g, '').replace(/```/g, '')).title }} konusu için yüksek kaliteli bir görsel üret.\"\n    }]\n  }]\n}",
        "options": {}
      },
      "id": "d7e5f6g7-1234-4h8i-1i1j-123456789abc",
      "name": "Generate Image (Nano Banana 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 200],
      "notesInFlow": true,
      "notes": "DIKKAT: Görsel üretimi için API URL'sini (Nano Banana) ve yetkilendirmeyi buraya girin."
    },
    {
      "parameters": {
        "url": "={{ $json.data[0].url }}",
        "options": {}
      },
      "id": "x1y2z3a4-1234-4a2b-8a8b-123456789abc",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "name": "image.jpg",
        "parents": [
          "={{ $node[\"Create Drive Folder\"].json.id }}"
        ],
        "binaryData": true,
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "e8f6g7h8-1234-4i9j-2j2k-123456789abc",
      "name": "Save Image to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://freeprompts.store/api/prompts/external",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "BURAYA_NETLIFY_N8N_API_KEY_YAZIN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ JSON.parse($node['Generate Prompt (LLM)'].json.candidates[0].content.parts[0].text.replace(/```json/g, '').replace(/```/g, '')).title }}\",\n  \"content\": \"{{ JSON.parse($node['Generate Prompt (LLM)'].json.candidates[0].content.parts[0].text.replace(/```json/g, '').replace(/```/g, '')).content }}\",\n  \"json_prompt\": \"{{ JSON.parse($node['Generate Prompt (LLM)'].json.candidates[0].content.parts[0].text.replace(/```json/g, '').replace(/```/g, '')).json_prompt }}\",\n  \"tags\": {{ JSON.stringify(JSON.parse($node['Generate Prompt (LLM)'].json.candidates[0].content.parts[0].text.replace(/```json/g, '').replace(/```/g, '')).tags) }},\n  \"category\": \"{{ JSON.parse($node['Generate Prompt (LLM)'].json.candidates[0].content.parts[0].text.replace(/```json/g, '').replace(/```/g, '')).category }}\",\n  \"theme\": \"{{ JSON.parse($node['Generate Prompt (LLM)'].json.candidates[0].content.parts[0].text.replace(/```json/g, '').replace(/```/g, '')).theme }}\",\n  \"group\": \"{{ JSON.parse($node['Generate Prompt (LLM)'].json.candidates[0].content.parts[0].text.replace(/```json/g, '').replace(/```/g, '')).group }}\",\n  \"share_text_twitter\": \"{{ JSON.parse($node['Generate Prompt (LLM)'].json.candidates[0].content.parts[0].text.replace(/```json/g, '').replace(/```/g, '')).share_text_twitter }}\",\n  \"share_text_facebook\": \"{{ JSON.parse($node['Generate Prompt (LLM)'].json.candidates[0].content.parts[0].text.replace(/```json/g, '').replace(/```/g, '')).share_text_facebook }}\",\n  \"share_text_pinterest\": \"{{ JSON.parse($node['Generate Prompt (LLM)'].json.candidates[0].content.parts[0].text.replace(/```json/g, '').replace(/```/g, '')).share_text_pinterest }}\",\n  \"share_text_whatsapp\": \"{{ JSON.parse($node['Generate Prompt (LLM)'].json.candidates[0].content.parts[0].text.replace(/```json/g, '').replace(/```/g, '')).share_text_whatsapp }}\",\n  \"image_url\": \"{{ $node['Generate Image (Nano Banana 2)'].json.data[0].url }}\"\n}",
        "options": {}
      },
      "id": "f9g7h8i9-1234-4j0k-3k3l-123456789abc",
      "name": "Send to FreePrompts API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1600, 200],
      "notesInFlow": true,
      "notes": "DIKKAT: x-api-key kısmına Netlify'daki API Key'inizi girin."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "BURAYA_EXCEL_ID_YAZIN",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "closed",
            "Prompt URL": "={{ $node[\"Send to FreePrompts API\"].json.prompt.url }}"
          }
        },
        "options": {
          "dataMode": "autoMapInputData"
        }
      },
      "id": "g0h8i9j0-1234-4k1l-4l4m-123456789abc",
      "name": "Update Sheets (Closed)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1800, 200],
      "notesInFlow": true,
      "notes": "DIKKAT: Excel ID'sini tekrar seçin. URL sütunu güncellenecek."
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate Prompt (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt (LLM)": {
      "main": [
        [
          {
            "node": "Save to Sheets (Open)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Sheets (Open)": {
      "main": [
        [
          {
            "node": "Create Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Drive Folder": {
      "main": [
        [
          {
            "node": "Save JSON to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save JSON to Drive": {
      "main": [
        [
          {
            "node": "Generate Image (Nano Banana 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image (Nano Banana 2)": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Save Image to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image to Drive": {
      "main": [
        [
          {
            "node": "Send to FreePrompts API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to FreePrompts API": {
      "main": [
        [
          {
            "node": "Update Sheets (Closed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
