FreePrompts_n8n_Automation.json
{
  "name": "FreePrompts Auto Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "c1f1f1e0-1234-4a2b-8a8b-123456789abc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0e2e505-1a2f-4886-ae1d-91b4266857ea",
              "name": "gem_instructions",
              "value": "BURAYA GEM TALİMATLARINIZI YAPIŞTIRIN\n\n(Buraya kopyaladığınız metinde tırnak işareti, satır atlama gibi karakterler olması sistemi bozmaz. İstediğiniz gibi yapıştırabilirsiniz.)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "new-set-node-123456",
      "name": "Set Instructions",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 200],
      "notesInFlow": true,
      "notes": "DIKKAT: Gem talimatlarınızı (prompt) buraya yapıştırın."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-latest:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "BURAYA_GEMINI_API_KEY_YAZIN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"contents\": [{ \"parts\": [{ \"text\": \"Bana yeni bir prompt üret. Çıktıyı kesinlikle aşağıdaki JSON formatında ver:\\n{\\n \\\"title\\\": \\\"...\\\",\\n \\\"content\\\": \\\"...\\\",\\n \\\"json_prompt\\\": \\\"...\\\",\\n \\\"tags\\\": [\\\"...\\\"],\\n \\\"category\\\": \\\"...\\\",\\n \\\"theme\\\": \\\"...\\\",\\n \\\"group\\\": \\\"...\\\",\\n \\\"share_text_twitter\\\": \\\"...\\\",\\n \\\"share_text_facebook\\\": \\\"...\\\",\\n \\\"share_text_pinterest\\\": \\\"...\\\",\\n \\\"share_text_whatsapp\\\": \\\"...\\\"\\n}\\n\\nÖzel Talimatlar:\\n\" + $json.gem_instructions }] }] } }}",
        "options": {}
      },
      "id": "e331c2bb-1234-4b5c-9c9d-123456789abc",
      "name": "Generate Prompt (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 200],
      "notesInFlow": true,
      "notes": "DIKKAT: Sadece API Anahtarınızı girin."
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.candidates[0].content.parts[0].text;\nlet cleaned = text.replace(/```json/gi, '').replace(/```/g, '').trim();\nlet parsed = {};\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('LLM did not return valid JSON: ' + cleaned);\n}\nreturn { json: parsed };"
      },
      "id": "parse-json-node-123",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 200],
      "notesInFlow": true,
      "notes": "LLM'den gelen veriyi sorunsuz JSON formatına dönüştürür."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "BURAYA_EXCEL_ID_YAZIN",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Prompt ID": "={{ $execution.id }}",
            "Status": "open",
            "Title": "={{ $json.title }}",
            "Content": "={{ $json.content }}",
            "JSON Prompt": "={{ typeof $json.json_prompt === 'object' ? JSON.stringify($json.json_prompt) : $json.json_prompt }}",
            "Tags": "={{ Array.isArray($json.tags) ? $json.tags.join(', ') : $json.tags }}",
            "Category": "={{ $json.category }}",
            "Theme": "={{ $json.theme }}",
            "Group": "={{ $json.group }}",
            "Share Twitter": "={{ $json.share_text_twitter }}",
            "Share Facebook": "={{ $json.share_text_facebook }}",
            "Share Pinterest": "={{ $json.share_text_pinterest }}",
            "Share WhatsApp": "={{ $json.share_text_whatsapp }}"
          }
        },
        "options": {}
      },
      "id": "a4b2c3d4-1234-4e5f-8f8g-123456789abc",
      "name": "Save to Sheets (Open)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [800, 200]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $execution.id }}",
        "parents": [
          "BURAYA_DRIVE_KLASOR_ID_YAZIN"
        ],
        "options": {}
      },
      "id": "b5c3d4e5-1234-4f6g-9g9h-123456789abc",
      "name": "Create Drive Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "fileContent": "={{ JSON.stringify($node[\"Parse JSON\"].json, null, 2) }}",
        "name": "prompt_data.json",
        "parents": [
          "={{ $json.id }}"
        ],
        "options": {}
      },
      "id": "c6d4e5f6-1234-4g7h-0h0i-123456789abc",
      "name": "Save JSON to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-latest:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "BURAYA_GEMINI_API_KEY_YAZIN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"contents\": [{ \"parts\": [{ \"text\": $node[\"Parse JSON\"].json.title + \" konusu için yüksek kaliteli bir görsel üret.\" }] }] } }}",
        "options": {}
      },
      "id": "d7e5f6g7-1234-4h8i-1i1j-123456789abc",
      "name": "Generate Image (Nano Banana 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "url": "={{ $json.data[0].url }}",
        "options": {}
      },
      "id": "x1y2z3a4-1234-4a2b-8a8b-123456789abc",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1600, 200]
    },
    {
      "parameters": {
        "name": "image.jpg",
        "parents": [
          "={{ $node[\"Create Drive Folder\"].json.id }}"
        ],
        "binaryData": true,
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "e8f6g7h8-1234-4i9j-2j2k-123456789abc",
      "name": "Save Image to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1800, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://freeprompts.store/api/prompts/external",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "BURAYA_NETLIFY_N8N_API_KEY_YAZIN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ Object.assign({}, $node['Parse JSON'].json, { image_url: $node['Generate Image (Nano Banana 2)'].json.data[0].url }) }}",
        "options": {}
      },
      "id": "f9g7h8i9-1234-4j0k-3k3l-123456789abc",
      "name": "Send to FreePrompts API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "BURAYA_EXCEL_ID_YAZIN",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "closed",
            "Prompt URL": "={{ $node[\"Send to FreePrompts API\"].json.prompt.url }}"
          }
        },
        "options": {
          "dataMode": "autoMapInputData"
        }
      },
      "id": "g0h8i9j0-1234-4k1l-4l4m-123456789abc",
      "name": "Update Sheets (Closed)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [2200, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Instructions": {
      "main": [
        [
          {
            "node": "Generate Prompt (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt (LLM)": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Save to Sheets (Open)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Sheets (Open)": {
      "main": [
        [
          {
            "node": "Create Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Drive Folder": {
      "main": [
        [
          {
            "node": "Save JSON to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save JSON to Drive": {
      "main": [
        [
          {
            "node": "Generate Image (Nano Banana 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image (Nano Banana 2)": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Save Image to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image to Drive": {
      "main": [
        [
          {
            "node": "Send to FreePrompts API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to FreePrompts API": {
      "main": [
        [
          {
            "node": "Update Sheets (Closed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
